body, html {
    width: 350px;
    height: 600px;
    margin: 0;
    padding: 0;
    background-color: #e9ecef; /* Cor de fundo mais suave, ajuste unificado */
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
}

#container {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 8px;
    width: 90%;
    height: auto;
    max-width: 500px;
    min-height: 300px;
}

h1 {
    color: #333;
    margin: 0 0 20px 0;
}

#menu ul {
    flex-direction: column;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

#menu ul li {
    margin: 10px 0;
}

#menu ul li a, button, #voltar {
    display: block;
    background-color: #007BFF; /* Cor azul unificada para todos os botões */
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    width: auto; /* Para garantir consistência */
    cursor: pointer; /* Garante que o cursor mude para indicar ação */
}

#menu ul li a:hover, #menu ul li a:focus, button:hover, #voltar:hover, #voltar:focus {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#secao-qrcode {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ajuste se necessário */
    width: 100%; /* Ajuste se necessário */
}

input[type="text"], button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#footer {
    text-align: center;
    padding: 10px;
    margin-top: auto; 
}

#footer img {
    max-width: 80px;
    max-height: 25px;
    display: block;
    margin: 0 auto;
}

